.btn.btn_back {
  color: #ffffff; }

[ng-if="vm.step == 'REQUEST_FORM'"] .popup__i__footer__buttons {
  width: 50%; }

[ng-if="vm.step == 'REQUEST_FORM'"] .btn.btn_back {
  padding: 9px 15px 10px 35px;
  background: #b01c2e; }
  [ng-if="vm.step == 'REQUEST_FORM'"] .btn.btn_back:hover {
    background: #9a1928; }

[ng-if="vm.step == 'REQUEST_FORM'"] .btn.disabled {
  cursor: not-allowed; }
