/* ==== END changeHeightMixin in common/_mixins.sass ==== */
/* ==== END equalize input height in passengers step ==== */
[ng-if="vm.step == 'SELECT_PASSENGERS'"] .btn.btn_back {
  color: #ffffff;
  padding: 12px 15px 12px 35px; }

[ng-if="vm.step == 'SELECT_PASSENGERS'"] .btn.disabled {
  cursor: not-allowed; }

[ng-if="vm.step == 'REQUEST_FORM'"] .popup__i__footer__buttons {
  width: 50%; }

[ng-if="vm.step == 'REQUEST_FORM'"] .btn.btn_back {
  color: #ffffff;
  padding: 9px 15px 10px 35px;
  background: #b01c2e; }
  [ng-if="vm.step == 'REQUEST_FORM'"] .btn.btn_back:hover {
    background: #9a1928; }

[ng-if="vm.step == 'REQUEST_FORM'"] .btn.disabled {
  cursor: not-allowed; }

/* ==== #35382 ==== */
.pika-lendar__availability-highlight .pika-button.unavailable {
  pointer-events: all;
  cursor: pointer; }

/* ==== END #35382 ==== */
