@import "../common/mixins"

/* ==== #35382 ==== */

+removePointerDisabledFromCalendar

/* ==== END #35382 ==== */

/* ==== 31373 ==== */

+chooseFlightActiveIconStyles
  color: #ffffff

.flightTable .columnTitle .best:after
  background: #038ab0

+colorizeSegmentPricesCalendar(#02637e, #ffffff)

.payMethods .radioBtn label
  font-weight: bold
  font-size: 17px

/* ==== END 31373 ==== */
