#preloader
  display: none

/* ==== #40126 ==== */

.infoTooltip
  background: #ff1723
  white-space: pre
  bottom: 115%
  padding: 10px 20px
  top: initial
  &:after
    border-top-color: #ff1723

/* ==== END #40126 ==== */
