@charset "UTF-8";
/* ==== END changeHeightMixin in common/_mixins.sass ==== */
/* ==== END equalize input height in passengers step ==== */
@media only screen and (max-width: 768px) {
  .searchSteps ol li.active a,
  .regSteps ol li.active a {
    padding: 20px 0; } }

@media only screen and (max-width: 768px) {
  .searchSteps ol li.active a,
  .searchSteps ol li.active span,
  .regSteps ol li.active a,
  .regSteps ol li.active span {
    padding: 20px 0; } }

.searchSteps ol li:after,
.regSteps ol li:after,
.searchSteps ol li.active:after,
.regSteps ol li.active:after,
.searchSteps ol li.prev:after,
.regSteps ol li.prev:after {
  line-height: 20px; }

#checkinForm .twisted-order-cont .btn-goto-segment {
  box-sizing: border-box; }

@media only screen and (max-width: 768px) {
  .webRegistration .registration__passengers__seatMap .info-top,
  .webRegistration .registration__passengers__seatMap .info-bottom {
    width: 100%; } }

@media screen and (max-width: 375px) {
  .webRegistration .registration__passengers__seatMap .info-bottom {
    display: none; } }

/* ==== #36076#note-40 3) ==== */
#checkinForm .list .item .row:first-child {
  background: #192f6b; }

#checkinForm .list .item .row {
  background: #1c3477; }

#checkinForm .list > .item .mobileShow .top table td:first-child {
  background: #d51f28; }

/* info icon */
@media only screen and (max-width: 768px) {
  #checkinForm .list > .item .mobileShow .top .name {
    position: relative;
    display: inline-block; } }

@media only screen and (max-width: 768px) {
  #checkinForm .list > .item .top .name i {
    position: absolute;
    top: -10px; } }

/* popup a tag highlight */
.webRegistration__serviceСondition_popup a[target="_blank"] {
  color: #d51f28 !important;
  text-decoration: underline; }
  .webRegistration__serviceСondition_popup a[target="_blank"]:hover {
    text-decoration: none; }

/* ==== END #36076#note-40 3) ==== */
