@charset "UTF-8";
/* ==== Search ==== */
.pika-prev, .pika-next {
  color: #999999; }
  .pika-prev:after, .pika-next:after {
    color: inherit;
    transition-property: color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out; }
  .pika-prev:hover, .pika-next:hover {
    color: #ff4b12;
    border-color: #ff4b12; }
    .pika-prev:hover:after, .pika-next:hover:after {
      color: #ff4b12; }

.is-selected .pika-button.pika-day,
.is-endrange .pika-button.pika-day,
.is-startrange .pika-button.pika-day {
  background: #f83c00; }

.is-inrange .pika-button.pika-day {
  background-color: #ffad91 !important; }

.btnMinus:not(.disabled),
.btnPlus:not(.disabled) {
  background: #ff7245; }
  .btnMinus:not(.disabled) i,
  .btnPlus:not(.disabled) i {
    color: #ffffff; }

.orderSearchForm .btnMinus i,
.orderSearchForm .btnPlus i {
  color: #ffffff; }

.pikaday-top__label {
  color: #ff4b12; }

.pikaday .is-inrange {
  background: #ffad91; }

.pikaday .is-select .pika-button.pika-day,
.pikaday .is-startrange .pika-button.pika-day,
.pikaday .is-endrange .pika-button.pika-day {
  background: #f83c00; }

.flightTable .contentRow td.active a,
.flightTable tr td.active {
  background: #ff855f;
  color: #ffffff; }

.flightTable .contentRow > td:not(:first-child):hover {
  cursor: pointer; }

.flightTable .contentRow > td:not(:first-child):not(.active):hover {
  background-color: #eaeaea; }
  .flightTable .contentRow > td:not(:first-child):not(.active):hover a {
    background-color: inherit; }

.flightTable .contentRow > td:not(:first-child).active:hover {
  background: #ff855f; }
  .flightTable .contentRow > td:not(:first-child).active:hover a {
    background-color: inherit; }

.chooseDate .tableWrap table td a {
  color: #666666; }

.chooseDate .item.active {
  background: #ff855f;
  color: white; }
  .chooseDate .item.active a {
    color: inherit; }
    .chooseDate .item.active a strong {
      color: inherit; }

.chooseFlight__table__item__content.active .chooseFlight__table__item__content__link {
  background: #ff855f;
  color: #ffffff; }

.compareTabsWrap .tabsControl li {
  width: 25%; }

/* ==== END Search ==== */
/* ==== Passengers ==== */
.passengerInfo tr:nth-child(2) td:nth-child(1) .ng-untouched .ui-select-placeholder.text-muted {
  color: #666666 !important;
  display: inline-block !important; }

.customCheckbox input:checked + span {
  border-color: #ff4b12; }
  .customCheckbox input:checked + span:after {
    color: #ff4b12; }

/* ==== END Passengers ==== */
/* ==== Booking ==== */
.checkoutServices__i .list > .item.active .top .iconBox {
  border-color: #ff5f2c; }
  .checkoutServices__i .list > .item.active .top .iconBox i {
    color: #ffffff; }

/* ==== END Booking ==== */
/* ==== Profile ==== */
.lkSteps ul li.active a {
  background: #ff5f2c; }

.lkSteps ul li a {
  background: #ff7245;
  color: #fff; }
  .lkSteps ul li a:hover {
    background: #f83c00; }

.btn.btn_save {
  background: #ff7245; }
  .btn.btn_save:hover {
    background: #f83c00; }

/* ==== END Profile ==== */
/* ==== Booking ==== */
.seatSelect .info ul li.selected span {
  background-color: #ff7245; }

.seatSelect .seat.seat-auto-assigned {
  background: #ffffff;
  border: 1px solid #999999; }

.seatSelect .seat.active {
  background-color: #ff7245; }

.seatMap .planeBody__i table tr.wingsStart {
  /* Левое крыло */
  /* Правое крыло */ }
  .seatMap .planeBody__i table tr.wingsStart td:first-child .seat:after,
  .seatMap .planeBody__i table tr.wingsStart td:last-child .seat:after {
    content: "";
    position: absolute;
    top: 56px;
    width: 105px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(90deg) skew(23deg);
    height: 80px;
    left: -116px;
    right: 20px;
    background: #ccc;
    pointer-events: none; }
  .seatMap .planeBody__i table tr.wingsStart td:last-child .seat:after {
    transform: rotate(-90deg) skew(-23deg);
    left: 35px; }

.seatMap .planeBody__i table tr td div.seat-prop-exit:before {
  display: none; }

.seatMap .planeBody__i table tr.wingsEnd td:first-child .seat:after,
.seatMap .planeBody__i table tr.wingsEnd td:last-child .seat:after {
  height: 70px;
  transform: none;
  width: 79px;
  top: 0;
  pointer-events: none; }

.seatMap .planeBody__i table tr.wingsEnd td:first-child .seat:after {
  left: -103px; }

.seatMap .planeBody__i table tr.wingsEnd td:last-child .seat:after {
  right: -105px; }

.flightTable > table > tbody > tr.headrow > td.econom_type1 {
  overflow: visible; }

/* ==== END Booking ==== */
