/* ==== END changeHeightMixin in common/_mixins.sass ==== */
/* ==== END equalize input height in passengers step ==== */
/* ==== #31373 ==== */
.orderSearchForm .iata,
.orderSearchForm .inpTo .iata {
  right: 15px;
  font-size: .9em; }

@media only screen and (max-width: 768px) {
  .chooseFlight__table__item__content__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; } }

.chooseFlight__table__item__content.active .chooseFlight__table__item__content__link {
  background: #2aabe8;
  color: #ffffff; }

.compareTabsWrap .tabsControl li a {
  background-color: #2aabe8; }

.chooseResult__i .col:nth-child(2) .col__i {
  padding-right: 10px; }

/* ==== END #31373 ==== */
