// ============== Colors =============

$mainBrandColor: #ff4b12;
$orangeBrandColor: #ff5f2c;
$lightOrangeBrandColor: #ff7245;

$gray: #999999;
$white: #ffffff;
$black: #000000;

// ============== END Colors =========

