@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic");
/* ==== Search passenger ==== */
.uvt-container .c-menu .nav a:hover,
.uvt-container .c-menu .nav a:active,
.uvt-container .c-menu .nav a:focus {
  opacity: 1; }

#oxygenApp #fakeBookingStepsCont li.active a,
#oxygenApp #privateMenu li.active a,
#oxygenApp #bookingSteps li.active a,
#oxygenApp #fakeBookingStepsCont li.active button.btn-link,
#oxygenApp #privateMenu li.active button.btn-link,
#oxygenApp #bookingSteps li.active button.btn-link {
  background-color: #26386e; }
  #oxygenApp #fakeBookingStepsCont li.active a:hover,
  #oxygenApp #privateMenu li.active a:hover,
  #oxygenApp #bookingSteps li.active a:hover,
  #oxygenApp #fakeBookingStepsCont li.active button.btn-link:hover,
  #oxygenApp #privateMenu li.active button.btn-link:hover,
  #oxygenApp #bookingSteps li.active button.btn-link:hover {
    cursor: pointer;
    background-color: #e31e24; }

#oxygenApp #fakeBookingStepsCont li a,
#oxygenApp #privateMenu li a,
#oxygenApp #bookingSteps li a,
#oxygenApp #fakeBookingStepsCont li button.btn-link,
#oxygenApp #privateMenu li button.btn-link,
#oxygenApp #bookingSteps li button.btn-link {
  background-color: #588bc8;
  opacity: 1;
  color: #ffffff; }
  #oxygenApp #fakeBookingStepsCont li a:hover,
  #oxygenApp #privateMenu li a:hover,
  #oxygenApp #bookingSteps li a:hover,
  #oxygenApp #fakeBookingStepsCont li button.btn-link:hover,
  #oxygenApp #privateMenu li button.btn-link:hover,
  #oxygenApp #bookingSteps li button.btn-link:hover {
    background-color: #e31e24; }

#oxygenApp #bookingSteps > li.disabled {
  cursor: not-allowed;
  opacity: .6; }

#oxygenApp .btn-info {
  background-color: #588bc8;
  border-color: #588bc8;
  opacity: 1; }
  #oxygenApp .btn-info:hover {
    background-color: #e31e24;
    border-color: #e31e24;
    color: #ffffff !important; }

#oxygenApp .appbar-right .bootstrap-select.open > .btn {
  background-color: #e31e24;
  border-color: #e31e24;
  color: #ffffff; }

#oxygenApp .appbar-right .bootstrap-select > .btn-success {
  background-color: #588bc8;
  border-color: #588bc8;
  color: #ffffff !important;
  opacity: 1; }
  #oxygenApp .appbar-right .bootstrap-select > .btn-success:hover {
    background-color: #e31e24;
    border-color: #e31e24; }

#oxygenApp #searchForm .checkbox {
  cursor: pointer; }

#oxygenApp #searchForm .bootstrap-select > .btn {
  border-color: #588bc8;
  background-color: #ffffff;
  color: #444444 !important; }

#oxygenApp .tooltip .tooltip-inner {
  background-color: #26386e; }

#oxygenApp .tooltip.top .tooltip-arrow {
  border-top-color: #26386e; }

#oxygenApp .well-info {
  background-color: #588bc8;
  border-color: #588bc8; }
  #oxygenApp .well-info .form-control {
    border-color: #588bc8; }

#oxygenApp input[type="checkbox"] + label span.chb span.chb-flag {
  background-color: #e31e24; }

#oxygenApp .datepicker table tr td.active:active,
#oxygenApp .datepicker table tr td.active:hover:active,
#oxygenApp .datepicker table tr td.active.disabled:active,
#oxygenApp .datepicker table tr td.active.disabled:hover:active,
#oxygenApp .datepicker table tr td.active.active,
#oxygenApp .datepicker table tr td.active:hover.active,
#oxygenApp .datepicker table tr td.active.disabled.active,
#oxygenApp .datepicker table tr td.active.disabled:hover.active {
  background-color: #e31e24; }

#oxygenApp .dropdown-menu > li > a:hover,
#oxygenApp .dropdown-menu > li > a:focus {
  background-color: #588bc8; }

#oxygenApp .search-button-cont .btn-primary {
  background-color: #26386e; }

#oxygenApp .btn-primary:hover,
#oxygenApp .btn-primary:focus,
#oxygenApp .btn-primary:active,
#oxygenApp .btn-primary.active {
  background-color: #e31e24;
  border-color: #e31e24; }

#oxygenApp #searchPeriod .tooltip .tooltip-arrow {
  border-top-color: #588bc8; }

#oxygenApp #searchPeriod .tooltip .tooltip-inner {
  background-color: #588bc8; }

#oxygenApp #searchPeriod #searchPeriodTable {
  margin: 0;
  width: 100%; }
  #oxygenApp #searchPeriod #searchPeriodTable table.oneway {
    max-width: 100%;
    table-layout: fixed; }
    #oxygenApp #searchPeriod #searchPeriodTable table.oneway td, #oxygenApp #searchPeriod #searchPeriodTable table.oneway td {
      word-wrap: break-word; }
    #oxygenApp #searchPeriod #searchPeriodTable table.oneway td.period-table-cell-selected {
      background-color: #588bc8;
      border-color: #588bc8; }
    #oxygenApp #searchPeriod #searchPeriodTable table.oneway th.selected-date {
      background-color: #26386e;
      border-color: #588bc8;
      color: #ffffff; }

#oxygenApp #searchPeriod .chart .dates .selected-date {
  color: #e31e24; }

#oxygenApp #searchPeriod .chart .prices .price-label .selected-price {
  background-color: #26386e;
  border-color: #26386e; }

/* ==== END Search passenger ==== */
/* ==== Search result ==== */
#oxygenApp #searchResult #companyFlightsTable th.sort-button-active .sort-flag {
  border-color: #be2323; }

#oxygenApp svg.svg-symbol-time * {
  fill: #26386e; }

#oxygenApp #searchResult .btn-success {
  background-color: #26386e;
  border-color: #26386e;
  color: white;
  opacity: 1; }
  #oxygenApp #searchResult .btn-success:hover {
    background-color: #e31e24;
    border-color: #e31e24; }

#oxygenApp .btn-primary {
  background-color: #26386e;
  border-color: #26386e;
  color: white;
  opacity: 1; }
  #oxygenApp .btn-primary:hover {
    background-color: #e31e24;
    border-color: #e31e24; }

#oxygenApp .modal-header {
  background-color: #26386e; }

#oxygenApp .price-detail-table td.info {
  background-color: #588bc8; }

#oxygenApp #variantPriceBody .flight-detail-cont .flight-detail .segment-label-cell {
  color: #000000; }

/* ==== END Search result ==== */
/* ============== Passengers ============= */
#oxygenApp .btn-default,
#oxygenApp .btn-default:hover,
#oxygenApp .btn-default:focus {
  background-color: #ffffff;
  border-color: #b2b2b2;
  color: #000000 !important; }

#oxygenApp #orderBlock {
  background-color: #26386e; }
  #oxygenApp #orderBlock .order-section {
    background-color: #588bc8 !important; }
    #oxygenApp #orderBlock .order-section a.collapsed .caret {
      margin-top: 0;
      top: 14px; }
    #oxygenApp #orderBlock .order-section .order-section-head .info,
    #oxygenApp #orderBlock .order-section .order-section-head label {
      color: #e31e24; }
    #oxygenApp #orderBlock .order-section .order-section-head .caret {
      border-width: 4px 4px 4px 4px;
      top: 16px; }

#oxygenApp .order-section-head {
  background-color: #ffffff !important; }
  #oxygenApp .order-section-head:hover {
    background: #ffffff !important;
    opacity: 1; }

#oxygenApp #orderInfoFlights .flight-detail-cont label {
  color: #ffffff; }

#oxygenApp #orderInfoFlights .flight-detail-cont .info {
  color: #e31e24; }

#oxygenApp #orderInfoFlights .flight-detail-header .tooltip-arrow {
  border-left-color: #26386e; }

#oxygenApp #orderPriceBlock {
  background-color: #588bc8; }
  #oxygenApp #orderPriceBlock .order-price-head {
    color: #ffffff; }
    #oxygenApp #orderPriceBlock .order-price-head .order-price-icon svg * {
      fill: #ffffff; }
  #oxygenApp #orderPriceBlock .order-price-body .order-price-detail table td .order-price-detail-icon svg * {
    fill: #26386e; }

#oxygenApp #passengersForm {
  background-color: #588bc8; }
  #oxygenApp #passengersForm form.customer-form .customer-form-head .customer-icon svg *,
  #oxygenApp #passengersForm form.passenger-form .customer-form-head .customer-icon svg *,
  #oxygenApp #passengersForm form.customer-form .passenger-form-head .customer-icon svg *,
  #oxygenApp #passengersForm form.passenger-form .passenger-form-head .customer-icon svg *,
  #oxygenApp #passengersForm form.customer-form .customer-form-head .passenger-icon svg *,
  #oxygenApp #passengersForm form.passenger-form .customer-form-head .passenger-icon svg *,
  #oxygenApp #passengersForm form.customer-form .passenger-form-head .passenger-icon svg *,
  #oxygenApp #passengersForm form.passenger-form .passenger-form-head .passenger-icon svg * {
    fill: #ffffff; }
  #oxygenApp #passengersForm form.customer-form .customer-form-head,
  #oxygenApp #passengersForm form.passenger-form .customer-form-head,
  #oxygenApp #passengersForm form.customer-form .passenger-form-head,
  #oxygenApp #passengersForm form.passenger-form .passenger-form-head {
    color: #ffffff; }

/* ============== END Passengers ========= */
/* ==== extraServices ==== */
#oxygenApp #orderPriceBlock .order-price-body .order-price-detail table td.cell-ticket .info-popup svg * {
  fill: #26386e; }

/* ==== END extraServices ==== */

/*# sourceMappingURL=UVT_Myfly.css.map */