@import "variables"
@import "mixins"
@import "../common/mixins"

\:root
  font-size: 16px
  font-family: 'Open Sans', sans-serif

body
  font-size: 16px
  color: black

/* ==== Header ==== */

.header
  background: $white
  border-bottom: 1px solid #ddd

  .logo
    .img
      background: $logo
      +fastTransition(opacity, .15s)

      &:hover
        opacity: .6

.userNav
  &__i
    a
      color: $black
      +fastTransition(color, .1s)

      &:hover
        color: $redBrandColor

/* ==== END Header ==== */


/* ==== Search step ==== */

.searchSteps
  ol
    li
      &.active
        color: $white
        background: $blueBrandColor

        &:after
          border-color: $white

      a
        &:hover
          background: $redBrandColor
          color: $white

      &.prev
        &:hover
          &:after
            border-color: $white
            color: $white

.orderSearchForm
  .btnTransfer
    &:hover
      background: $redBrandColor
      border-color: $redBrandColor

  .valueControl
    &.active
      a
        &:hover
          background: $redBrandColor

        &.btnMinus
          &:hover
            background: $redBrandColor

            i
              color: $white

    a
      i
        color: $blueBrandColor

      &:hover
        background: $redBrandColor

.btn
  &.btn_search
    background: $blueBrandColor
    color: $white

    &:hover
      background: $redBrandColor

/* ==== END Search step ==== */

/* ==== Choose flight step ==== */

.chooseDate
  .tableWrap
    table
      td
        &.active
          background: $blueBrandColor

          a
            color: $white

            &:hover
              background: $lightBlueBrandColor

/* ==== END Choose flight step ==== */

.flightTable tr td.active,
.flightTable .contentRow td.active a
  background: $blueBrandColor
  color: #ffffff

.searchResultsControl .btn_next
  +blueButton

/* ==== #38002 ==== */

/* calendar styles */

+calendarHoverStyles()
  background: $lightBlueBrandColor !important

+calendarSelectedStyles()
  background: $blueBrandColor

+rangeCalendarStyles()
  background: lighten($lightBlueBrandColor, 10%) !important
  color: #ffffff

+enabledCalendarStyles()
  background: #f0f0f0

/* end calendar styles */

/* flight detail */
.popup_detail .route_item .route_container .route_table .dep,
.popup_detail .route_item .route_container .route_table .arr
  vertical-align: middle

/* button in login popup */
/* and save button in user account */
.popup__i__footer__buttons__button,
.btn.btn_save
  background: $blueBrandColor
  color: #ffffff

  &:hover
    background: $redBrandColor

/* add fare families */
.flightTable > table > tbody > tr > td
  border-right: 1px solid #e6e6e6
  border-bottom: 1px solid #e6e6e6
  border-top: 1px solid #e6e6e6

/* ==== END #38002 ==== */

/* ==== #38002#note-17 ==== */

.chooseDate .tableWrap table td.active a strong
  color: #ffffff

+changeHeight()
.selectDate .item.active
  background: $blueBrandColor
  color: #ffffff

  a
    color: inherit

    > span:last-child
      color: #ffffff

.chooseFlight__table__item__content__link
  width: 100%
  height: 100%
  box-sizing: border-box
  display: flex
  justify-content: center
  align-items: center

.chooseFlight__table__item__content.active .chooseFlight__table__item__content__link
  background: $blueBrandColor
  color: #ffffff

  &:hover
    background: $lightBlueBrandColor

  +adaptivity(tablet)
    &:hover
      background: $blueBrandColor

.header.header_small .logo
  //width: auto
  width: 100%
  max-width: 100%

  .img
    background-repeat: no-repeat
  +adaptivity(tablet)
//width: 210px

.mainNavBtn span
  background: $blueBrandColor

.compareTabsWrap .tabsControl li a
  background: #6183c7
  color: #ffffff

.compareTabsWrap .name__i
  background: #6183c7
  color: #ffffff

.flightTable .chooseFlight__table__item__columnTitle
  background: #6183c7
  text-align: center

  .name a
    display: inline-block
    font-size: 13px
    line-height: 14px
    font-weight: 700
    color: #fff
    border-bottom: 1px dashed #fff

.ui-select-header .selectize-input .ui-select-match,
.ui-select-header .ui-select-placeholder.text-muted
  color: #3c3838
  +adaptivity(tablet)
    color: #ffffff

.ui-select-header .selectize-input:after
  border-color: #b0b0b0 transparent transparent transparent !important
  +adaptivity(tablet)
    border-color: #ffffff transparent transparent transparent !important

/* ==== END #38002#note-17 ==== */


/* ==== #38002#note-41 ==== */

.flightTable .contentRow .price-cell__link
  box-sizing: border-box
  padding: 39px 10px

.flightTable .contentRow .price-cell
  &__link
    display: flex
    justify-content: center
    align-items: center

  &__text
    width: auto

/* ==== END #38002#note-41 ==== */

/* ==== #38002#note-48 ==== */

.flightTable .contentRow td.active
  .price-cell__text
    display: inline-block
    position: relative

    &:before
      font-family: 'OpenSkyIcons' !important
      content: $checkIcon
      display: block
      position: absolute
      top: 50%
      transform: translateY(-50%)
      font-size: 14px
      left: -23px

.btn_receipt_cont a.show_receipt,
.btn_receipt_cont a.send_receipt
  background-color: $blueBrandColor
  color: #ffffff

  &:hover
    background-color: $redBrandColor

.btn_receipt_cont a.send_receipt
  background-image: $receiptIcon

.invoiceDrops .title
  background: $blueBrandColor

.invoiceDrops .item .circle i
  color: $blueBrandColor

.popup .title__i
  background: $blueBrandColor

.invoice .btn-row .btn
  +blueButton

/* ==== END #38002#note-48 ==== */

/* ==== remove border at items in flightTable ==== */

.flightTable .contentRow td:not(.firstCol)
  //border: none
  border-top: none

.flightTable
  .options
    i
      width: 20px
      height: 20px

    .icon
      &_carryon_yes,
      &_carryon
        background-image: $carryonYesIcon

        &:before
          display: none

      &_ticket-refund

        &_no
          background-image: $ticketRefundNoIcon

        &_yes
          background: $ticketRefundYesIcon


      &_luggage
        background: $luggageYesIcon

        &_no
          background: $luggageNoIcon

        &_yes
          background: $luggageYesIcon

        &:before
          display: none

      &_ticket-change

        &_no
          background: $ticketChangeNoIcon

        &_yes
          background: $ticketChangeYesIcon


        &:before
          display: none

      &_ticket-refund
        background-image: $ticketChangeYesIcon
        margin-top: 0

        &_no
          background: $ticketRefundNoIcon

        &_yes
          background-image: $ticketChangeYesIcon

        &:before
          display: none

      &_child-discount

        &_yes
          background: $childDiscountYesIcon no-repeat
          background-size: contain
          width: 17px
          position: relative
          top: 1px

        &:before
          display: none

.flightTable .options i.icon_ticket-refund
  margin-top: 0


.flightTable
  .headrow
    td:not(:first-child)
      border-bottom: 1px solid #fff

      .name
        color: #FFFFFF
        font-weight: bold

        a
          text-decoration: dotted
          color: inherit
          border-bottom: 1px dashed #fff

          &:hover
            border-bottom: none

  .promo
    background: $promoBrandColor

  .light
    background: $lightBrandColor

  .flexible
    background: $flexibleBrandColor

  .standart
    background: $premiumBrandColor

  .premium
    background: $premiumBrandColor

.compareTableWrap
  .promo, .light, .flexible, .standart, .premium
    color: #ffffff

  .promo
    background: $promoBrandColor

  .light
    background: $lightBrandColor

  .flexible
    background: $flexibleBrandColor

  .standart
    background: $premiumBrandColor

  .premium
    background: $premiumBrandColor

/* ==== END remove border at items in flightTable ==== */

/* compare table icons */
.compareTableWrap, .compareTabsWrap
  .col1
    i
      background-size: contain !important
      display: inline-block
      width: 20px
      height: 30px

      &:before
        display: none

    .icon

      &_ticket-refund-after-departure
        background: $ticketRefundAfterDepartureIcon no-repeat center center

      &_ticket-refund
        background: $ticketRefundGrayIcon no-repeat center center

      &_luggage
        background: $luggageGrayIcon no-repeat center center
        width: 15px
        margin-left: 4px

      &_carryon
        background: $carryonGrayIcon no-repeat center center
        width: 15px
        margin-left: 4px

      &_ticket-change
        background: $ticketChangeGrayIcon no-repeat center center

      &_captcha-reload
        background: $ticketChangeAfterDeparture no-repeat center center

      &_child-discount, &_transfer, &_users
        background: $childDiscountGrayIcon no-repeat center center
        width: 15px
        margin-left: 2px





