/* ==== Fonts ==== */
/* ==== END Fonts ==== */
.planeBody.deck-code-M {
  padding-left: 10px;
  transform: scale(0.92); }

.checkoutServices__i .passengersTable .contentServiceRow .col:last-child {
  max-height: 570px; }

.checkoutServices__i .passengersTable .contentServiceRow > td:not(.firstCol) {
  padding-bottom: 0;
  padding-top: 190px;
  }
