@charset "UTF-8";
/* ==== END changeHeightMixin in common/_mixins.sass ==== */
/* ==== END equalize input height in passengers step ==== */
/* ==== #35382 ==== */
.pika-lendar__availability-highlight .pika-button.unavailable {
  pointer-events: all;
  cursor: pointer; }

/* ==== END #35382 ==== */
/* ====  #39110 ==== */
.passengerInfo .infoTooltip {
  white-space: pre;
  top: -150%;
  left: -170px; }
  .passengerInfo .infoTooltip:after {
    left: 50%; }

/* ==== END  #39110 ==== */
/* ==== Сделать ссылки на страховки синим ==== */
.insuranceSelect__i .insurance-fares a:not(.btn__ins) {
  color: #004f9c;
  font-weight: bold; }

.insurance-popup__heading, .insurance-popup__descr {
  padding-bottom: 20px; }
  .insurance-popup__heading a, .insurance-popup__descr a {
    color: #004f9c;
    font-weight: bold; }

/* ==== END Сделать ссылки на страховки синим ==== */
