@import "../common/mixins"
@import "variables"
@import "mixins"
@import "./_i18n"

.flightTable table
  > tbody
    > tr
      > td.firstCol
        .sortingWrap
          padding-right: 0
          padding-left: 0

/* ==== booking ==== */

.radioBtn.all-plastic-card .customCheckbox input:checked + span:after
  color: $redBrandColor

/* ==== END booking ==== */
  
/* ==== popups ==== */

.geo-warning
  &__inner
    border-color: $grayBrandColor

  &__footer .btn
    &.is-blue
      background: transparent
      color: $grayBrandColor
      font-family: inherit

    &.is-yellow
      background: $redBrandColor

      &:hover
        background: $secondRedBrandColor

// popup geo
.popup.popup_geo .popup__i__footer__buttons
  display: flex
  flex-direction: column

  .btn
    margin: 5px 0

/* ==== END popups ==== */


/* ==== #31373 ==== */

// 68
.flightTable .infoBoxWrap
  +adaptivity(tablet)
    position: initial

.chooseResult__i .tariff__content__item, .searchResultsPlain__i .tariff__content__item
  +adaptivity(phone)
    flex: 50%

// 69
.selectedInfo__i .item__i
  padding: 20px 25px

// 70
//.seatSelect .seat.seat.active:after
  transform: translate(2px, 2px)

// 72
.content-booking .icon_umbrella
  background: $insuranceIcon center no-repeat
  background-size: contain
  width: 35px
  height: 35px
/* ==== END #31373 ==== */


.roundTripDiscount__i
  border-left: 3px solid #cd202c

.insuranceSelect__i .passenger
  background-color: #e8e8e8

/* ==== #35382 ==== */

+removePointerDisabledFromCalendar

/* ==== END #35382 ==== */

/* ==== #39533 ==== */

.popup_auth
  .customCheckbox span
    border: 1px solid #000000

/* ==== END #39533 ==== */

/* ==== Опустить заголовок доп. услуг ==== */

.add-services
  &__title
    display: flex
    padding-top: 20px
    +adaptivity(tablet)
      display: block

  &__title-text

  .checkoutServices__i .title .orderInfo
    top: 10px

/* ==== END Опустить заголовок доп. услуг ==== */

/* ==== #40625 ==== */

.seatSelect .row-has-seat-prop-not_for_infant .seatName:before
  display: none

.seatSelect .row-has-seat-prop-not_for_infant .seatName
  top: -34px

.seatSelect .seat.seat-prop-not_for_infant .seatName
  //top: -130px

/* ==== END #40625 ==== */

/* ==== #31373#note-38 ==== */

/* 1 */
.icon
  &_open-link
    content: ""
    display: inline-block
    vertical-align: middle
    width: 12px
    height: 12px
    margin-left: 8px
    background-position: 50%
    background: $openLinkIcon
    position: relative
    top: -1px

/* 2 */
+chooseFlightFullWidth

/* 4 */
.selectedInfo__i > a:before
  +adaptivity(phone)
    left: 30px

.selectedInfo__i > a table td
  +adaptivity(phone)
    padding-right: 20px

.headerRight .selectedInfo__i a:after
  right: 30px !important

.header__i
  +adaptivity(phone)
    padding: 0 10px

.mainNavBtn
  +adaptivity(phone)
    right: 15px

/* ==== END #31373#note-38 ==== */

/* ==== #41743 ==== */
// remove it when time is come

.header.header_small .logo
  width: 401px

.header.header_small .logo

  +adaptivity(desktop)
    width: 401px

  @media screen and (max-width: 917px)
    width: 320px

  @media screen and (min-width: 1024px)
    width: 576px
    .img
      max-width: 401px
    position: relative

    &:before
      position: absolute
      content: ''
      display: inline-block
      height: 30px
      left: 75%
      top: 50%
      transform: translate(0, -25%)
      border-right: 1px solid $redBrandColor

    &:after
      position: absolute
      left: 80%
      top: 50%
      font-weight: 300
      letter-spacing: 1px
      font-family: Nordwind, Helvetica Neue, Helvetica, Arial, sans-serif
      font-size: 16px
      content: 'Fly the future'
      display: inline-block

  +adaptivity(tablet)
    margin: 0 auto
    left: 50%
    transform: translateX(-50%)

.header .logo
  a:focus
    outline: none

  .img
    background-image: $logo10YearsDesktop !important
    +adaptivity(tablet)
      background-image: $logo10YearsMobile !important
      background-size: contain
      margin-left: -30px

.header .logo .img
  max-width: unset

.userNav__i ul
  display: flex

.out
  min-height: calc(100% - 360px)

/* ==== END #41743 ==== */

/* ==== #42215 ==== */

.seat.seat-prop-7A
  margin-bottom: 30px

  &:before
    content: ''
    display: block
    width: 15px
    height: 15px
    background: $toiletIconGray center center no-repeat
    background-size: contain
    position: absolute
    bottom: -25px
    left: 1px
    pointer-events: none

.planeBody__i
  $emergencyExitLeftRightOffset: 5px

  table
    //tr.row-has-seat-prop-E:nth-child(2)
      td:first-of-type
        &:before
          left: 5px

      td:last-of-type
        &:after
          right: 5px

    tr.row-has-seat-prop-E

      td:first-of-type,
      td:last-of-type
        position: relative

        &:before,
        &:after
          content: ''
          position: absolute
          display: inline-block
          width: 19px
          height: 25px
          top: 50%


      td:first-of-type
        &:before
          background: $exitIcon no-repeat center
          left: -20px
          transform: rotate(180deg) translate(0, 50%)

      td:last-of-type
        &:after
          background: $exitIcon no-repeat center
          transform: translate(0, -50%)
          right: -20px


/* ==== END #42215 ==== */

/* ==== #41176 ==== */
=addESIcon($name, $icon)
  .icon_#{$name}
    background: $icon no-repeat center !important
    width: 100% !important
    height: 100% !important

    &:before
      display: none

    +adaptivity(tablet)
      display: block
      width: 60px !important
      height: 60px !important

+addESIcon('umbrella', $insuranceIcon)
+addESIcon('seat-reservation', $seatIcon)
+addESIcon('seat', $seatIcon)
+addESIcon('meal', $mealIcon)
+addESIcon('luggage', $baggageIcon)
+addESIcon('business-checkin', $baggageIcon)
+addESIcon('aeroexpress', $aeroExpressIcon)

.aeroexpress .passenger
  background: $redBrandColor
  color: #ffffff

.seatSelect .seat.seat.active:after
  margin-left: 0
  margin-right: 0
  margin-top: 0

.seatSelect .seat.selectedByOrderPassenger
  &:after
    background: $passengerIcon center no-repeat
    background-size: contain
    top: 50%
    height: 8px
    width: 8px
    left: 50%
    transform: translate(-50%, -50%)
    border: none
    border-radius: 0
    margin-top: 0
    margin-right: 0
    margin-left: 0

/* ==== END #41176 ==== */
