.webRegistration .registration__passengers__seatMap {
  margin-top: 110px;
  margin-bottom: 20px; }

/* ==== #31373 #note-34 ==== */
.popup__i__footer__buttons {
  display: flex;
  justify-content: space-between; }

.btn.btn_back {
  display: flex;
  align-items: center; }

.ticketChange .btnRow {
  display: flex;
  justify-content: space-between; }

.ticketChange .btnRow .btn.btn_back {
  order: 1;
  padding-left: 35px;
  background: #3e8dd3;
  color: #ffffff;
  border: none;
  box-shadow: none; }

.popup__i__footer__buttons__button:first-child {
  border-color: #06abf2;
  color: #ffffff; }

.ticketChange .btnRow .btn:first-child {
  order: 2;
  margin-left: 20px;
  background: #3e8dd3;
  color: #ffffff;
  border: none;
  box-shadow: none; }

.searchSteps ol li.prev a, .regSteps ol li.prev a {
  width: 100%;
  text-align: center; }

.searchSteps.searchSteps_add ol li, .regSteps ol li,
.searchSteps.searchSteps_add ol li.active, .regSteps ol li.active {
  width: 25%;
  padding: 13px 13px 15px 40px;
  white-space: nowrap; }

.searchSteps.searchSteps_add span a, .regSteps.searchSteps_add span a {
  padding-left: 10px; }

.ui-select-header .selectize-input .ui-select-match {
  background: #ffffff; }

.flightTable .timeTable tr td:first-child {
  border: none; }

.flightTable > table > tbody > tr > td {
  border: 1px solid #e6e6e6; }

/* ==== END #31373 #note-34 ==== */
