@import "mixins"
@import "variables"

.process-bar
  &:after
    content: ''
    display: block

/* ==== #38338 ==== */

.header
  &__inner, &__menu
    +adaptivity(tablet)
      padding: 0 10px
  &__container
    max-width: 1140px
    padding: 0 20px
    width: auto
    +adaptivity(tablet)
      width: 100%
  &-menu-content
    flex-wrap: wrap
  &__menu-list-wrapper
    margin-top: 20px

.header-menu
  &__content
    flex-wrap: wrap
    padding: 40px 20px 0
  &__list-wrapper
    margin: 0 0 40px
    flex-basis: 22% !important
    &:not(:last-child)
      margin: 0 0 40px
      padding: 0
    +adaptivity(tablet)
      margin-bottom: 50px
    +adaptivity(phone)
      flex: 50%
  &__extra
    padding: 0 20px
    justify-content: flex-start
    +adaptivity(tablet)
      justify-content: space-between
      height: 90px
  &__extra-item
    text-align: center
    margin-right: 40px
    +adaptivity(tablet)
      margin-right: 0
      display: flex
      flex-direction: column
      align-items: center
      font-size: .9em
      svg
        margin-right: 0

footer
  .container
    max-width: 1140px
    width: auto
    padding: 0 20px
    +adaptivity(tablet)
      width: 100%
  +adaptivity(tablet)
    padding: 0 10px

.footer
  &__under-row
    flex-wrap: wrap
  &__contacts
    +adaptivity(tablet)
      margin-top: 10px

.social
  &__list
    flex-wrap: wrap
    +adaptivity(tablet)
      justify-content: space-between
      margin-top: 20px
  &__item
    +adaptivity(tablet)
      &:not(:last-of-type)
        margin-right: 0

body
  min-width: 100%

/* ==== END #38338 ==== */

/* ==== Исправление блока доп. услуг ==== */

#checkinForm .list > .item .mobileShow .top table td
  +adaptivity(tablet)
    background: $redBrandColor

#checkinForm .list > .item .mobileShow .top table td:first-child
  +adaptivity(tablet)
    background: #bd0707

#checkinForm .list > .item .mobileShow .top table tr td:last-of-type
  +adaptivity(tablet)
    padding-right: 20px

#checkinForm .list > .item .top .name
  +adaptivity(tablet)
    position: relative

#checkinForm .list > .item .top .name i
  +adaptivity(tablet)
    right: -10px

#checkinForm .list .item .row
  +adaptivity(tablet)
    background-color: #ffffff

#checkinForm .route .item .passenger.active .passenger_lnk
  background: rgba(73, 90, 102, 0.05)
  &:before
    border-left-color: rgba(73, 90, 102, 0.05)
  +adaptivity(phone)
    background: rgba(73, 90, 102, 0.05)

#checkinForm .route .item .passenger table td .name
  color: $black
  font-weight: 300

#checkinForm .route .item .passenger table td .choose
  display: none

.foodSlider .list__i .item.active a
  background: $redBrandColor
  color: $white
  .name,
  .description
    p
      color: $white
      font-weight: 500

/* ==== END Исправление блока доп. услуг ==== */
