@import "../../common/mixins"
@import "../../common/checkin-mixins"
@import "../variables"

.btn.btn_back
  color: #ffffff
  background: #1D2758
  border-color: #1D2758
  &:hover
    background: #ffffff
    color: $brandMainColor

.webRegistration__searchResults
  .passengers__tableTickets__check
    .customCheckbox input:checked + span:after
      background: $brandMainColor

+checkinSearchSteps($brandFourthColor, $brandFourthColor, $brandMainColor)
+colorizeButtons($brandMainColor, $brandThirdColor)
+colorizeSeatMap($selected: $brandMainColor)
+tooltipStyles($brandMainColor)
+fixSeatMapAdaptivity
+fixGoToDataButton
