/// Remove the unit of a length
/// @param {Number} $number - Number to remove unit from
/// @return {Number} - Unitless number
@function strip-unit($number)
  @if type-of($number) == 'number' and not unitless($number)
    @return $number / ($number * 0 + 1)
  @return $number

@function em($wanted, $base: 16)
  @return (strip-unit($wanted) / strip-unit($base)) * 1em

@function rem($wanted, $base: 16)
  @return (strip-unit($wanted) / strip-unit($base)) * 1rem

@function percent($wanted, $context)
  @return (strip-unit($wanted) / strip-unit($context) * 100) * 1%

=fastTransition($props, $duration: .15s, $timing: ease-in-out)
  transition-property: join((), $props, comma)
  transition-duration: $duration
  transition-timing-function: $timing

=clearfix()
  &:after
    content: ""
    display: table
    clear: both

=placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content

=adaptivity($media)
  $screen-size-laptop-large: 1440px
  $screen-size-laptop: 1100px
  $screen-size-tablet: 768px
  $screen-size-phone: 515px
  @if $media == desktop
    @media only screen and (min-width: $screen-size-laptop-large)
      @content

  @if $media == laptop-large
    @media only screen and (max-width: $screen-size-laptop-large)
      @content

  @else if $media == laptop
    @media only screen and (max-width: $screen-size-laptop)
      @content

  @else if $media == only-laptop
    @media only screen and (min-width: $screen-size-tablet) and (max-width: $screen-size-laptop)
      @content

  @else if $media == tablet
    @media only screen and (max-width: $screen-size-tablet)
      @content

  @else if $media == phone
    @media only screen and (max-width: $screen-size-phone)
      @content

=changeHeight()
  /* ==== changeHeightMixin in common/_mixins.sass ==== */

  .flightTable .contentRow td:not(.firstCol)
    height: 10px

/* ==== END changeHeightMixin in common/_mixins.sass ==== */

=setTabletFullWidthAndHeight()
  .chooseFlight__table__item__content__link
    +adaptivity(tablet)
      width: 100%
      height: 100%
      display: flex
      justify-content: center
      align-items: center
      padding: 0

=priceItem()
  .chooseFlight__table__item__content__link
    @content

=priceItemActive()
  .chooseFlight__table__item__content.active .chooseFlight__table__item__content__link
    @content

=equalInputHeight($height)
  /* ==== equalize input height in passengers step ==== */

  .ui-select-passengers .selectize-input
    padding: 15px 10px
    height: $height

/* ==== END equalize input height in passengers step ==== */

=transformInputY($yTransform)
  .ui-select-passengers .selectize-input
    transform: translate(0, $yTransform)

=setBasketPadding($padding)
  .selectedInfo__i .drop__i
    +adaptivity(tablet)
      padding-left: $padding
      padding-right: $padding

=disabledCalendarStyles
  .is-disabled .pika-button.pika-day
    @content

=enabledCalendarStyles
  .pika-button.pika-day
    @content

=weekendCalendarStyles
  .pika-single table tbody tr td:not(.is-disabled):not(.is-startrange):not(.is-today):not(.is-endrange):not(.is-selected):nth-child(6) button,
  .pika-single table tbody tr td:not(.is-disabled):not(.is-startrange):not(.is-today):not(.is-endrange):not(.is-selected):nth-child(7) button
    @content

=rangeCalendarStyles
  .is-inrange .pika-button
    @content

=rangeStartEndStyles
  .is-startrange .pika-button.pika-day
    @content

=unavalibleStyles
  .pika-lendar__availability-highlight .pika-button.unavailable
    @content

=removePointerDisabledFromCalendar
  .pika-lendar__availability-highlight .pika-button.unavailable
    pointer-events: all
    cursor: pointer

=calendarHoverStyles
  .pika-button.pika-day:hover
    @content
