@import "../common/mixins"
@import "variables"

.header
  background: $mainBrandColor
  .logo
    .img
      background: $aeroflotLogoWhiteImg 0 0 no-repeat
      background-size: contain
      position: relative
      &:after
        content: 'Fly&Bus'
        color: #ffffff
        font-family: "Arial", sans-serif
        font-size: 25px
        padding-left: 50px
        position: absolute
        top: 50%
        transform: translateY(-50%)

.searchSteps ol li.active,
.regSteps ol li.active
  background: $mainBrandColor
  color: white
  &:after
    border-color: #ffffff

.searchSteps ol li a:hover,
.regSteps ol li a:hover
  color: #ffffff
  background: lighten($mainBrandColor, $lightnessValue)
  &:after
    border-color: #ffffff

.searchSteps ol li.prev:hover:after,
.regSteps ol li.prev:hover:after
  border-color: #ffffff
  color: #ffffff

.searchResultsPlain__i .flight__button a,
.searchResultsControl .btn_next,
.orderSearchForm .btn_formSearch
  background: $mainBrandColor
  color: #ffffff
  &:hover
    background: lighten($mainBrandColor, $lightnessValue)

.chooseResult__i .route_item .route_container .route_table .info i,
.searchResultsPlain__i .route_item .route_container .route_table .info i
  &:nth-of-type(2)
    content: $busIcon
    width: 32px
    height: 32px
    position: relative
    top: 2px

$leftPosition: 10px
.chooseResult__i .flight,
.searchResultsPlain__i .flight
  .route_item_container:nth-of-type(2)
    .info
      position: relative
      display: flex
      flex-direction: column
      min-width: 150px
      margin: 0 auto
      +adaptivity(phone)
        text-align: center
      &:before,
      &:after
        content: ''
        top: -10px
        display: inline-block

      &:before
        width: 30px
        height: 30px
        background: $aeroflotLogoImg center no-repeat
        background-size: cover
        margin-bottom: 15px
        left: $leftPosition
        top: 8px
        position: relative
        +adaptivity(tablet)
          left: percent(10px, 225px)
        +adaptivity(phone)
          left: 50px
          top: 20px
      &:after
        content: 'Fly&Bus'
        color: #0063b1
        font-family: "Arial", sans-serif
        font-size: 20px
        left: $leftPosition + 50px
        top: 40px
        position: absolute
        +adaptivity(tablet)
          left: percent(80px, 225px)
          top: 40px
        +adaptivity(phone)
          left: 110px

    .icon_plane
      content: $busIcon

.chooseResult__i .flight,
.searchResultsPlain__i .flight
  &:nth-of-type(1)
    .route_item_container:nth-of-type(1)
      .info
        padding-top: 40px

.dep__heading,
.arr__heading,
.additional__heading
  font-weight: bold
  font-size: 18px
  margin-bottom: 20px
  color: #666666
  text-transform: capitalize

.additional__heading
  position: relative
  top: -10px

