@charset "UTF-8";
/* ==== search-order ==== */
.invoice .btn-row .btn {
  color: #666666; }

/* ==== END search-order ==== */
.seatSelect .seat.seat.active {
  position: relative;
  background: transparent;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNy41NiAyMiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNiY2RiYjM7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT7QoNC10YHRg9GA0YEgODwvdGl0bGU+PGcgaWQ9ItCh0LvQvtC5XzIiIGRhdGEtbmFtZT0i0KHQu9C+0LkgMiI+PGcgaWQ9ItCh0LvQvtC5XzEtMiIgZGF0YS1uYW1lPSLQodC70L7QuSAxIj48cmVjdCBjbGFzcz0iY2xzLTEiIHg9IjE1LjcxIiB5PSIxMC44OSIgd2lkdGg9IjEuODUiIGhlaWdodD0iMTEuMTEiLz48cmVjdCBjbGFzcz0iY2xzLTEiIHk9IjEwLjg5IiB3aWR0aD0iMS44NSIgaGVpZ2h0PSIxMS4xMSIvPjxyZWN0IGNsYXNzPSJjbHMtMSIgeD0iNy41NyIgeT0iMTQuNzgiIHdpZHRoPSIyLjQyIiBoZWlnaHQ9IjEyLjAyIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyOS41NyAxMi4wMSkgcm90YXRlKDkwKSIvPjxyZWN0IGNsYXNzPSJjbHMtMSIgeD0iLTAuNTUiIHk9IjMuMzIiIHdpZHRoPSIxOC42NyIgaGVpZ2h0PSIxMi4wMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTguMTIgMC41NSkgcm90YXRlKDkwKSIvPjwvZz48L2c+PC9zdmc+") no-repeat;
  background-repeat: no-repeat;
  background-position: bottom center;
  filter: none;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNy41NiAxNSIgZmlsbD0iIzJjOWY4NiI+PGRlZnM+PC9kZWZzPjxnPjxnPjxyZWN0IGNsYXNzPSJjbHMtMSIgeD0iMTUuNzEiIHk9IjUiIHdpZHRoPSIxLjg1IiBoZWlnaHQ9IjEwIi8+PHJlY3QgY2xhc3M9ImNscy0xIiB5PSI1IiB3aWR0aD0iMS44NSIgaGVpZ2h0PSIxMCIvPjxyZWN0IGNsYXNzPSJjbHMtMSIgeD0iNy42OSIgeT0iNy45IiB3aWR0aD0iMi4xOCIgaGVpZ2h0PSIxMi4wMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjIuNjkgNS4xMykgcm90YXRlKDkwKSIvPjxyZWN0IGNsYXNzPSJjbHMtMSIgeD0iMi43OCIgeT0iLTAuMDEiIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMi4wMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTQuNzggLTIuNzgpIHJvdGF0ZSg5MCkiLz48L2c+PC9nPjwvc3ZnPg==") no-repeat center; }
  .seatSelect .seat.seat.active:before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #49ca0294;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .seatSelect .seat.seat.active:after {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMjggMjQiIHZlcnNpb249IjEuMSIgd2lkdGg9IjE1cHgiIGhlaWdodD0iMTJweCIgZmlsbD0iI2ZmZiI+PGc+PHBhdGggZD0iTSAyMi41NjY0MDYgNC43MzA0NjkgTCAyMC43NzM0MzggMy41MTE3MTkgQyAyMC4yNzczNDQgMy4xNzU3ODEgMTkuNTk3NjU2IDMuMzA0Njg4IDE5LjI2NTYyNSAzLjc5Njg3NSBMIDEwLjQ3NjU2MyAxNi43NTc4MTMgTCA2LjQzNzUgMTIuNzE4NzUgQyA2LjAxNTYyNSAxMi4yOTY4NzUgNS4zMjgxMjUgMTIuMjk2ODc1IDQuOTA2MjUgMTIuNzE4NzUgTCAzLjM3MTA5NCAxNC4yNTM5MDYgQyAyLjk0OTIxOSAxNC42NzU3ODEgMi45NDkyMTkgMTUuMzYzMjgxIDMuMzcxMDk0IDE1Ljc4OTA2MyBMIDkuNTgyMDMxIDIyIEMgOS45Mjk2ODggMjIuMzQ3NjU2IDEwLjQ3NjU2MyAyMi42MTMyODEgMTAuOTY4NzUgMjIuNjEzMjgxIEMgMTEuNDYwOTM4IDIyLjYxMzI4MSAxMS45NTcwMzEgMjIuMzA0Njg4IDEyLjI3NzM0NCAyMS44Mzk4NDQgTCAyMi44NTU0NjkgNi4yMzQzNzUgQyAyMy4xOTE0MDYgNS43NDIxODggMjMuMDYyNSA1LjA2NjQwNiAyMi41NjY0MDYgNC43MzA0NjkgWiI+PC9wYXRoPjwvZz48L3N2Zz4=") no-repeat center;
    background-size: contain;
    transform: translate(-5px, -6px);
    width: 10px;
    height: 10px; }

.seatSelect .seat.seat.seat_disabled {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNy41NiAyMiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNiY2RiYjM7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT7QoNC10YHRg9GA0YEgODwvdGl0bGU+PGcgaWQ9ItCh0LvQvtC5XzIiIGRhdGEtbmFtZT0i0KHQu9C+0LkgMiI+PGcgaWQ9ItCh0LvQvtC5XzEtMiIgZGF0YS1uYW1lPSLQodC70L7QuSAxIj48cmVjdCBjbGFzcz0iY2xzLTEiIHg9IjE1LjcxIiB5PSIxMC44OSIgd2lkdGg9IjEuODUiIGhlaWdodD0iMTEuMTEiLz48cmVjdCBjbGFzcz0iY2xzLTEiIHk9IjEwLjg5IiB3aWR0aD0iMS44NSIgaGVpZ2h0PSIxMS4xMSIvPjxyZWN0IGNsYXNzPSJjbHMtMSIgeD0iNy41NyIgeT0iMTQuNzgiIHdpZHRoPSIyLjQyIiBoZWlnaHQ9IjEyLjAyIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyOS41NyAxMi4wMSkgcm90YXRlKDkwKSIvPjxyZWN0IGNsYXNzPSJjbHMtMSIgeD0iLTAuNTUiIHk9IjMuMzIiIHdpZHRoPSIxOC42NyIgaGVpZ2h0PSIxMi4wMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTguMTIgMC41NSkgcm90YXRlKDkwKSIvPjwvZz48L2c+PC9zdmc+") no-repeat;
  filter: grayscale(1); }

.seatSelect .seat.seat-rfisc-CMF {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNy41NiAyMiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNiY2RiYjM7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT7QoNC10YHRg9GA0YEgODwvdGl0bGU+PGcgaWQ9ItCh0LvQvtC5XzIiIGRhdGEtbmFtZT0i0KHQu9C+0LkgMiI+PGcgaWQ9ItCh0LvQvtC5XzEtMiIgZGF0YS1uYW1lPSLQodC70L7QuSAxIj48cmVjdCBjbGFzcz0iY2xzLTEiIHg9IjE1LjcxIiB5PSIxMC44OSIgd2lkdGg9IjEuODUiIGhlaWdodD0iMTEuMTEiLz48cmVjdCBjbGFzcz0iY2xzLTEiIHk9IjEwLjg5IiB3aWR0aD0iMS44NSIgaGVpZ2h0PSIxMS4xMSIvPjxyZWN0IGNsYXNzPSJjbHMtMSIgeD0iNy41NyIgeT0iMTQuNzgiIHdpZHRoPSIyLjQyIiBoZWlnaHQ9IjEyLjAyIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyOS41NyAxMi4wMSkgcm90YXRlKDkwKSIvPjxyZWN0IGNsYXNzPSJjbHMtMSIgeD0iLTAuNTUiIHk9IjMuMzIiIHdpZHRoPSIxOC42NyIgaGVpZ2h0PSIxMi4wMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTguMTIgMC41NSkgcm90YXRlKDkwKSIvPjwvZz48L2c+PC9zdmc+") no-repeat; }

.seatMap .planeBody__i table tbody tr.wingsEnd td:first-child:after {
  content: 'Выход';
  text-transform: capitalize;
  color: #212322;
  position: absolute;
  top: 13px;
  display: inline;
  height: 0;
  left: 0; }

.seatMap .planeBody__i table tbody tr.wingsEnd td:last-child:after {
  content: 'Выход';
  text-transform: capitalize;
  color: #212322;
  position: absolute;
  top: 13px;
  display: inline;
  height: 0;
  right: 0; }

.seatMap .planeBody__i table tbody tr:nth-child(27) td:first-child:after,
.seatMap .planeBody__i table tbody tr:nth-child(27) td:last-child:after {
  display: none; }

.seatBlock .passengers {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .seatBlock .passengers__title {
    flex: 0; }
  .seatBlock .passengers > div:nth-child(2) {
    flex: 1; }
  .seatBlock .passengers .infoSeat {
    margin-top: 30px;
    position: initial; }

.customScroll_height-seat {
  min-height: 400px;
  max-height: 600px; }

/* ==== baggage ==== */
.baggageControl .val p {
  font-size: 17px; }

/* ==== END baggage ==== */
