@import "variables"
@import "mixins"
@import "../common/mixins"

// ============== #31524 =============

.webRegistration
  .registration
    &__passengers
      &__seatMap
        .view-craft-box
        margin-top: 110px
        margin-bottom: 20px

// ============== END #31524 =========


/* ==== #31373 #note-34 ==== */

//.popup__i__footer__buttons
  display: flex
  justify-content: space-between

.btn.btn_back
  display: flex
  align-items: center

.ticketChange .btnRow
  display: flex
  justify-content: space-between

.ticketChange .btnRow .btn.btn_back
  order: 1
  padding-left: 35px
  background: $lightBlueColor
  color: #ffffff
  border: none
  box-shadow: none

.popup__i__footer__buttons__button:first-child
  border-color: #06abf2
  color: #ffffff

.ticketChange .btnRow
  .btn:first-child
    order: 2
    margin-left: 20px
    background: $lightBlueColor
    color: #ffffff
    border: none
    box-shadow: none

.searchSteps ol li.prev a, .regSteps ol li.prev a
  width: 100%
  text-align: center

.searchSteps.searchSteps_add ol li, .regSteps ol li,
.searchSteps.searchSteps_add ol li.active, .regSteps ol li.active
  width: percent(250, 1000)
  padding: 13px 13px 15px 40px
  white-space: nowrap

.searchSteps.searchSteps_add span a, .regSteps.searchSteps_add span a
  padding-left: 10px

.ui-select-header .selectize-input .ui-select-match
  background: #ffffff

.flightTable .timeTable tr td:first-child
  border: none

.flightTable > table > tbody > tr > td
  border: 1px solid #e6e6e6

+unavalibleStyles
  pointer-events: all
  cursor: pointer

.pika-lendar__availability-highlight .pika-button.unavailable
  pointer-events: all
  cursor: pointer

+calendarHoverStyles
  color: #ffffff

.is-startrange .pika-button.pika-day
  color: #ffffff

/* ==== END #31373 #note-34 ==== */

/* ==== #40225 ==== */

.headerRight
  right: 11px
  +adaptivity(tablet)
    right: 0

  &__col:nth-of-type(2)
    width: 166px
    +adaptivity(tablet)
      width: initial

.selectedInfo__i > a table td
  +adaptivity(tablet)
    line-height: 43px

.flightTable > table > tbody > tr.headrow > td.firstCol
  border: none
  background: #f4f4f4

.flightTable > table > tbody > tr:not(.headrow) > td.firstCol
  padding: 15px

.flightTable > table > tbody > tr > td.firstCol a
  margin: 10px 0

.flightTable > table > tbody > tr > td.firstCol .sortingWrap
  padding-top: 36px

.flightTable > table > tbody > tr > td.firstCol .sortingWrap.active .sortingDrop
  transform: translate(0, 9px)

.flightTable > table > tbody > tr > td.firstCol .sortingWrap
  .sortingSelected p
    a:after
      content: "\e90a"
      margin: 0
  &.active
    .sortingSelected p
      a:after
        top: 13px

.chooseFlight__table__item__content.active .chooseFlight__table__item__content__link
  background-color: #06abf2
  color: #ffffff

.chooseFlight__table__item__content__link
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center

.popup a
  color: #06abf2
  border-bottom: 1px dashed #06abf2

/* ==== END #40225 ==== */

/* ==== version 0.40 ==== */

.checkoutServices__i .list > .item .top .price
  p, h3
    +adaptivity(tablet)
      color: #ffffff

//.checkoutServices__i .list > .item .top__i
  padding: 0 15px
  background: #ffffff

.checkoutServices__i .list > .item .top .btn.active
  background-color: #06abf2
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .1)
  font-weight: bold
  color: #ffffff

.checkoutServices__i .list > .item .top .btn.active,
.checkoutServices__i .list > .item .top .btn.active
  border-color: transparent
  color: #ffffff
  padding: 0 10px

.checkoutServices__i .list > .item .top .btn.active:hover,
.checkoutServices__i .list > .item .top .btn.active:active
  border-color: transparent
  color: #ffffff
  padding: 0 10px

.checkoutServices__i .list > .item .top .btn.active
  border-color: transparent

.ui-select-header .selectize-input .ui-select-match
  +adaptivity(tablet)
    background-color: transparent
    span
      color: #ffffff

.selectize-control.single .selectize-input:after
  +adaptivity(phone)
    border-color: #fff transparent transparent transparent !important

.ui-select-container.open .selectize-input::after
  top: 30px
  +adaptivity(tablet)

.ui-select-header .selectize-input .ui-select-match
  +adaptivity(tablet)
    padding-left: 0

.orderSearchForm .compactDrop.active
  +adaptivity(tablet)
    display: flex
    flex-wrap: wrap
    pass-picker
      width: 100%

.orderSearchForm .item.item_peoples .col
  +adaptivity(tablet)
    width: 100%
    padding: 0

.orderSearchForm .item.item_peoples .inp__i
  +adaptivity(tablet)
    display: flex
    justify-content: space-between
    &:before,
    &:after
      display: none

/* ==== END version 0.40 ==== */

/* ==== #41319 ==== */

.footer
  &__social
    &-item
      position: relative
      top: 7px
    &-img
      width: 52px
  .icon
    width: 37px
    height: 48px
    display: inline-block
    background-size: cover !important
    background-position: -5px !important
    &--instagram
      background: $instagramIcon no-repeat
    &--vk
      background: $vkIcon no-repeat
    &--ok
      background: $okIcon no-repeat
    &--linkedin
      background: $linkedinIcon no-repeat

/* ==== END #41319 ==== */
