=checkinSearchSteps($primaryColor, $secondaryColor, $textColor)
  .searchSteps,
  .regSteps
    background: $primaryColor
    ol li
      border-bottom: 3px solid transparent
      color: $textColor
      &.active
        border-bottom: 3px solid transparent
        background: $primaryColor
        color: $textColor
        border-bottom: 3px solid $textColor
        &:after
          color: $textColor
          border-color: $textColor
      a
        color: $textColor
        &:hover
          background: $secondaryColor
          color: $textColor
      &.prev
        a
          background: transparent
          color: $textColor
        &:after
          color: $textColor
          border-color: $textColor
      &:after
        border-color: $textColor

=colorizeSeatMap($free: rgba(27, 117, 188, 0.4), $paid: rgba(0, 76, 186, 0.7), $selected: #FFDA00)
  .seatSelect
    /* legend */
    .info ul li
      &.free span
        background: $free
      &.paid span
        background: $paid
      &.selected span
        background: $selected
    /* seatMap */
    .seatSelect
      .seat
        &.selected
          background: $selected
    .seat.active,
    .seat.seat-selected,
    .seatSelect .seat.seat-order
      background: $selected

=fixSeatMapAdaptivity
  .webRegistration .registration__passengers__seatMap .info
    +adaptivity(tablet)
      position: initial
      left: 0
      transform: none
      width: 100%
      margin-top: 30px

      ul
        display: flex
        flex-wrap: wrap
        justify-content: center

=fixGoToDataButton
  /* в дефолтном вебскае кнопка редактировать данные на моб. версии выходит за границу */
  #checkinForm .twisted-order-cont .btn-goto-segment
    +adaptivity(tablet)
      box-sizing: border-box

=tooltipStyles($primaryColor, $textColor: #ffffff)
  .tooltip-err-cont .tooltip
    svg.svg-symbol-tooltip-arrow *
      fill: $primaryColor
    .tooltip-inner
      background: $primaryColor
      color: $textColor

=colorizePopups($primaryColor, $secondaryColor, $textColor: #ffffff)
  .modal
    .modal-header-inner
      background: $primaryColor
  .passengerDataSeat__tabs__item.passenger-item-active
    background: $primaryColor
    color: $textColor !important

=buttonStyles($primaryColor, $hoverColor: $primaryColor, $textColor: #ffffff, $hoverTextColor: $textColor)
  .webRegistration .btn_next,
  .btn.btn_search,
  .popup__i__footer__buttons__button,
  .webRegistration .registration__footer .btn
    background-color: $primaryColor
    color: $textColor
    &:hover
      background: $hoverColor
      color: $hoverTextColor
    @content

