@import "../common/mixins"

/* ==== #35382 ==== */

+removePointerDisabledFromCalendar

/* ==== END #35382 ==== */

/* ====  #39110 ==== */

.passengerInfo
  .infoTooltip
    white-space: pre
    top: -150%
    left: -170px

    &:after
      left: 50%

/* ==== END  #39110 ==== */


/* ==== Сделать ссылки на страховки синим ==== */

.insuranceSelect__i
  .insurance-fares
    a:not(.btn__ins)
      color: #004f9c
      font-weight: bold

.insurance-popup
  &__heading,
  &__descr
    padding-bottom: 20px

    a
      color: #004f9c
      font-weight: bold

/* ==== END Сделать ссылки на страховки синим ==== */

/* ==== #40805 ==== */

.popup_auth
  overflow: hidden

  .tooltip
    position: relative

    &__inner
      font-size: .9em
      +adaptivity(tablet)
        font-size: .8em

    .tooltiptext
      display: none
      width: 390px
      height: auto
      background-color: #006cc7
      border-radius: 6px
      border: none
      padding: 10px
      color: #ffffff
      top: auto
      transform: translate(-40px, -104%)
      +adaptivity(tablet)
        width: 350px
        height: 420px
        bottom: -170px

      &:after
        content: ''
        width: 0
        bottom: -6px
        left: 30px
        height: 0
        border-style: solid
        border-width: 6px 5px 0 5px
        border-color: #006cc7 transparent transparent transparent
        position: absolute

    &:hover
      .tooltiptext
        display: block

/* ==== END #40805 ==== */

/* ==== #31373#note-38 ==== */

+languageMobileColor(#fff, #fff)

.flightTableWrap.mobileHide
  padding-bottom: 60px

.flightTableWrap .drop__i .item.active a
  color: #666666

.orderSearchForm .pikaday__header_mobile.active
  +adaptivity(tablet)
    display: none


.searchSteps__i
  // пришлось задать высоту родителю
  +adaptivity(tablet)
    height: 52px
    overflow: hidden
    margin-top: 10px

/* ==== END #31373#note-38 ==== */
